<?xml version="1.0" encoding="UTF-8"?>
<apps>
  <app channel="stable">
    <version>3.5.1</version>
    <date>2026-06-28</date>
    <filename>ArtisanUpdates.apk</filename>
    <link>https://github.com/ArtisanROM/rom_resources/releases/download/v3.5.1-updater/ArtisanUpdates.apk</link>
    <size>4242962</size>
  </app>
</apps>
