<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting
        name="Boot Sound"
        description="Enable or disable Boot sounds"
        prop="persist.sys.artisanrom.bootsound"
        on_zip="true"
        off_zip="false" />
    <setting
        name="Test Device"
        description="Enables test features"
        prop="ro.artisanrom.type"
        on_zip="true"
        off_zip="false" />
</settings>
